@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black font-sans antialiased;
  }
  
  /* Mobile padding to prevent content from hiding behind bottom navigation */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Custom Scrollbar for a premium look */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FAFAFA;
}

::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0A0A0A;
}